:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #f4daff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.inputs-container{
  border: 1px solid black;

}
.inputs{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: beige;

}
.diaSemana-container{
  border: 1px solid black;

}
button{
  border-radius: 12px;

}